.distribution {
  margin-top: 80px;
  margin-bottom: 140px;
  display: grid;
  grid-template-areas: 'allin';
}

/* --------------MEDIA--------------- */

@media screen and (max-width: 1079px) {
  .distribution {
    margin-right: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 791px) {
  .distribution {
    margin: 50px auto 0;
    padding: 0 var(--padding__section);
    justify-content: center;
    margin-bottom: 100px;
  }
}